nav{
    margin: 27px auto 0;

    position: relative;
    width: 500px;
    height: 50px;
    background-color: #34495e;
    border-radius: 8px;
    font-size:0;
}
nav a{
    line-height: 50px;
    height:100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
}
nav .animaçao{
    position: absolute;
    height:100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
}

a:nth-child(1) {
    width: 110px;
}

a:nth-child(2){
    width: 120px;
}

a:nth-child(3) {
    width: 120px;
}

a:nth-child(4) {
    width:
        100px;
}

nav.start-home, a:nth-child(1):hover~.animaçao {
    width: 100px;
    left: 0;
    background-color: #1abc9c;
}

nav.start-about, a:nth-child(2):hover~.animaçao {
    width: 110px;
    left: 110px;
    background-color: #e74c3c;
}

nav.start-portifólio, a:nth-child(3):hover~.animaçao {
    width: 120px;
    left: 230px;
    background-color: #2BD6B4;
}


nav.start-contato, a:nth-child(4):hover~.animaçao {
width: 110px; 
left: 350px;
background-color: #e67e22;
}

body {
font-size: 12px;
font-family: sans-serif;
background: #2c3e50;
}

span {
color: #2BD6B4;
} 